@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/***  formatação inicial  *****************************************************************/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

/***  pre-definindo cores   ********************************************************/
:root{
    --preto: #000000;
    --branco: #ffffff;
    --font-primary: #055a83;
    --font-secondary: #33cc99;
    --green-bg-global: #084766;
    --gradient-start: #055a82;
    --gradient-end: #000305;
}

.container{
    padding-left: calc((100vw - (1264px - (2 * (1264px * 5 / 100)))) / 2);
    padding-right: calc((100vw - (1264px - (2 * (1264px * 5 / 100)))) / 2);
}

/***  menu de nav/idiomas   *********************************************************/

#nav-hero{
    height: 532px;
    background-color: beige;
    background-image: url(/img/Logar-Circulo-opaco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.logo{
    width: 204px;
    height: 105px;
}

.logo img{
    width: 184px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.logo img:hover{
    transform: scale(0.9);
}

header{
    margin-top: 30px;
}

header nav{
    display: flex;
}

.menu{
    width: 90%;
}

.menu ul{
    display: flex;
    height: 105px;
    justify-content: end;
    align-items: center;
    gap: 42px;
    margin-right: 42px;
}

.menu ul li a{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: var(--font-primary);
    display: inline-block;
    padding: 15px 10px;
    margin-right: -10px;
}

.menu ul li a:hover{
    color: var(--font-secondary);
}

.menu ul li{
    position: relative;
    transition: transform 0.5s ease;
}

.menu ul li:hover{
    transform: translateY(-7px);
}

.language{
    width: 102px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.language img{
    transition: filter 0.3s ease;
}

.language img:hover{
    filter: brightness(1.2);
}


/***  secao hero  *****************************************************************/
.hero{
    display: flex;
    position: relative;
}
.hero-texts{
    width: 68.900%;
    align-content: center;
    padding: 10px;
}

.hero-texts h1{
    text-transform: uppercase;
    font-size: 43px;
    color: var(--font-secondary);
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: -1px;
}

.hero-texts p{
    font-size: 22px;
    font-weight: 500;
    color: var(--font-primary);
    line-height: 1.5em;
    letter-spacing: -0.4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-texts strong{
    font-size: 20px;
    font-weight: bold;
    color: var(--font-primary);
}

.hero-texts a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.6px;
    color: var(--branco);
    background-color: var(--font-secondary);
    padding: 10px 20px;
    transition: transform 0.4s ease;
}

.hero-texts a:hover{
    transform: scale(0.9);
}

.hero-image{
    width: 328px;
    position: relative;
}

.hero-image img{
    width: 327px;
    position: relative;
    top: 15px;
}

/***  secao o que fazemos  *****************************************************************/
#what-we-do{
    background: linear-gradient(140deg, #055982 0%, #0a374d 100%);
    height: 845px;
}

.title{
    width: 100%;
    height: 53px;
    align-content: center;
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 30px; /* só 1px já resolve! */
}

.title h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: -1px;
    color: var(--branco);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.works{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.works .works-opt{
    flex: 1;
    max-width: 33.3%;
    box-sizing: border-box;
}

.works-opt{
    padding: 20px;
}

.works-opt a .wk-img{
    width: 66px;
    padding-bottom: 20px;
}

.works-opt h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -0.4px;
    color: var(--branco);
    text-shadow: 0px 4px 0px rgba(0,0,0, 0.21);
    padding-bottom: 20px;
}

.works-opt p{
    text-align: left;
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0px;
    padding-bottom: 20px;
}

/* RESPONSIVO   *************************************************************/
@media (max-width: 768px) {
    .works {
        flex-direction: column;
    }

    .works .works-opt {
        width: 100%;
    }
}

.btn-for-more{
    width: 100%;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.btn-for-more a{
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: var(--font-primary);
    text-transform: uppercase;
    color: var(--branco);
    display: inline-block;
    transition: transform 0.4s ease;
}

.btn-for-more a:hover{
    transform: scale(0.9);
}

/***   ***/
#middle-content{
    height: 1526px;
    background-color: beige;
    background-image: url(/img/Logar-Circulo-opaco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.container .differences{
    display: flex;
}

.differences .differences-img{
    width: 50%;
}

.differences .differences-img img{
    width: 540px;
}

.differences .differences-txt{
    width: 50%;
    margin-top: -35px;
}

.differences .differences-txt .title h2{
    color: var(--font-secondary);
    padding: 10px;
}

.differences .differences-txt{
    text-align: right;
    color: var(--font-primary);
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.4px;
}

.differences .differences-txt .texts{
    margin-top: 10px;
}

.differences .differences-txt .texts p{
    box-sizing: border-box;
    padding-bottom: 1em;
}

.certificate{
    height: 241px;
    border: 1px solid orange;
}

.certificate .certificate-bg{
    background: linear-gradient(140deg, #055982 0%, #0a374d 100%);
    border: 1px solid green;
    border-radius: 20px;
    height: 100%;
}

.certificate-bg .certificate-google a img{
    width: 171px;
}